header.header
	.container.bdr
		.header__inner
			.header__logo DimPin
			nav.header__nav
				a.nav__link(href="#") About
				a.nav__link(href="#") Service
				a.nav__link(href="#") Blog
				a.nav__link(href="#") Work
				a.nav__link(href="#") Contact
