section.intro
	.container
		.intro__wrapper
			h2.intro__suptitle Creative Template
			h1.intro__title Welcome to DimPin
			a.intro__btn(href="#") Learn more
		
	.intro__slider
		.container
			.slider__wrapper
				.slider__item.active
					span 01 
					| Intro
				.slider__item 
					span 02 
					| Work
				.slider__item 
					span 03 
					| About
				.slider__item 
					span 04 
					| Contacts
